#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf,python3,yang

# To override the prefix
override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/vyatta --sysconfdir=/opt/vyatta/etc

override_dh_installinit:
	dh_installinit -a -n

override_dh_installsystemd:
	dh_installsystemd --no-enable --name twamp-server@ --no-start

